*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: #e8e8e8;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #0a43b4;
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    display: block;
    max-width: 60%;
    height: auto;
    cursor: pointer;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 14px;
    padding: 10px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover{
    color: gold;
}

#menu{
    display: none;
}

.menu-icon{
    width: 30px;
}

.menu label{
    cursor: pointer;
    display: none;
}

@media (max-width: 991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .back{
        padding: 30px 0;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #0a43b4;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
}

.content .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    min-width: 100%;
    height: 60vh;
    overflow: hidden;
}

.titulo-mision {
    font-size: 24px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-bottom: 10px !important;
    color: #003366 !important;
}

.titulo-vision {
    font-size: 24px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-bottom: 10px !important;
    margin-top: 20px !important;
    color: #003366 !important;
}

.parrafo-mision-vision {
    border-left: 5px solid #003366;
    padding-left: 10px;
    margin-bottom: 20px;
}


.item {
    width: 200px;
    height: 250px;
    list-style-type: none;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1), &:nth-child(2) {
        left: 0;
        top: 0%   ;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 220px); }
    &:nth-child(5) { left: calc(50% + 440px); }
    &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
}


.card {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;

    & .title {
        font-family: 'arial-black';
        text-transform: uppercase;
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
    }

    & button {
        width: fit-content;
        background-color: rgba(0,0,0,0.1);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.item:nth-of-type(2) .card {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;

    & .btn {
        background-color: rgba(255,255,255,0.5);
        color: rgba(0,0,0,0.7);
        border: 2px solid rgba(0,0,0,0.6);
        margin: 0 0.25rem;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgba(255,255,255,0.3);
        }
    }
}

@media (width > 650px) and (width < 900px) {
    .card {
        & .title        { font-size: 1rem; }
        & .description  { font-size: 0.7rem; }
        & button        { font-size: 0.7rem; }
    }
    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) { left: 50%; }
        &:nth-child(4) { left: calc(50% + 170px); }
        &:nth-child(5) { left: calc(50% + 340px); }
        &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
    }
}

@media (width < 650px) {
    .card {
        & .title        { font-size: 0.9rem; }
        & .description  { font-size: 0.65rem; }
        & button        { font-size: 0.7rem; }
    }
    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) { left: 50%; }
        &:nth-child(4) { left: calc(50% + 140px); }
        &:nth-child(5) { left: calc(50% + 280px); }
        &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
    }
}
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Layout básico */
#main { width: 100%; padding: 0; }
.content-asset p { margin: 0 auto; }
.breadcrumb { display: none; }

/* Helpers */
.margin-top-10 { padding-top: 10px; }
.margin-bot-10 { padding-bottom: 10px; }

/* Tipografía */
#parallax-world-of-ugg h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    padding: 0;
    margin: 0;
}

#parallax-world-of-ugg h2 {
    font-family: 'Oswald', sans-serif;
    font-size: clamp(24px, 6vw, 70px);
    letter-spacing: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
    opacity: 0.9;
}

#parallax-world-of-ugg h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 0;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 20px;
}

#parallax-world-of-ugg p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.first-character {
    font-weight: 400;
    float: left;
    font-size: 84px;
    line-height: 64px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: 'Source Sans Pro', sans-serif;
}

.sc { color: #3b8595; }
.ny { color: #3d3c3a; }
.atw { color: #c48660; }

/* Título con logo */
.classC {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 20px;
    overflow: hidden;
    background-color: white;
}

.classC .background-image {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    height: auto;
    background-image: url('./imagenes/LOG.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    opacity: 0.2;
    z-index: 0;
}

.classC .text {
    position: relative;
    z-index: 1;
}

.classC .subtitulo {
    font-family: 'Oswald', sans-serif;
    font-size: clamp(14px, 3vw, 24px);
    letter-spacing: 6px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px;
}

.classC .titulo {
    font-family: 'Oswald', sans-serif;
    font-size: clamp(24px, 5vw, 48px);
    font-weight: 600;
    letter-spacing: 4px;
    color: black;
    line-height: 1.2;
}


#parallax-world-of-ugg .classC .text h1 {
    font-size: 30px;
    letter-spacing: 4px;
}

/* Contenido de bloques */
#parallax-world-of-ugg .block {
    background: white;
    padding: 60px 20px;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

#parallax-world-of-ugg .block-gray {
    background: #fffafa;
    padding: 40px 20px;
}

#parallax-world-of-ugg .section-overlay-mask {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: black;
    opacity: 0.70;
}

/* Secciones Parallax (con fondo en div y JS) */
.parallax-one,
.parallax-two,
.parallax-three {
    position: relative;
    overflow: hidden;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-one,
.parallax-two,
.parallax-three {
    position: relative;
    overflow: hidden;
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-one {
    background-image: url('imagenes/trab.jpg');
}
.parallax-two {
    background-image: url('imagenes/SERVICIO.jpg');
}
.parallax-three {
    background-image: url('imagenes/SER2.jpg');
}

#parallax-world-of-ugg .line-break {
    border-bottom: 1px solid black;
    width: 150px;
    margin: 0 auto;
}

/* Responsive */
@media screen and (max-width: 959px) and (min-width: 768px) {
    #parallax-world-of-ugg .block {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 767px) {
    #parallax-world-of-ugg .block {
        padding: 30px 15px;
        width: 90%;
    }

    .parallax-one,
    .parallax-two,
    .parallax-three {
        height: 40vh;
    }
}

@media screen and (max-width: 479px) {
    #parallax-world-of-ugg .block {
        padding: 30px 10px;
        width: 95%;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background: #0a43b4;
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #fff200;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.footer-links ul li a:hover {
    color: #ffffff;
    padding-left: 6px;
}

.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color : #d3ffc9;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background-color: #fff200;
}

@media(max-width: 991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}

.footer-image {
    text-align: center;
    margin-top: 20px;

}

.footer-image img {
    max-width: 300px;
    height: auto;
}
.footer-image .log2{
    max-width: 250px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    border-radius: 10px;

}

.copyright {
    text-align: center;
    padding: 10px;
    background-color: #091b3c; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 14px;

}
#scroll-btn {
    opacity: 0;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: #76b5f5;
    position: fixed;
    bottom: 10%;
    right: 10%;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 9999;
    font: bold 20px monospace;
    transition: opacity 0.5s, transform 0.5s;
}
#scroll-btn.show {
    opacity: 1;
    transition: opacity 1s, transform 1s;
}